

body {
    font-family: "Arial", serif;
    font-size: 13pt;
    background: grey;
}

.ingredientLine {
    font-weight: bold;
}

#ingredient {
    //font-weight: bold;
}

#burger {
    background: black;
    color: white;
    border: 5px dashed white;
}

#payment {
    background: white;
    border: 5px dashed black;
}

button:hover {
    background: red;
    cursor: pointer;
}

button {
    margin: 20px;
}

table {
    width: 100%;
}


#headline {
    margin: 10px;
    height: 40x;

    overflow: hidden;
}

#headline > h1 {
    position: absolute;
    margin-top: -340px;
    
}

#headline > img {
    opacity: .6;
    width: 100%;
    height: auto;
}

section {
    margin: 10px 10px 10px 10px;
    padding-left: 20px;
}

select:hover {
    cursor: pointer;
}

.gender:hover {
    cursor: pointer;
}

ul {
    padding-left: 20px;
}

