

body {
    font-family: "Arial", serif;
    font-size: 13pt;
    background: white;
}

.ingredientLine {
    font-weight: bold;
}

#ingredient {
    //font-weight: bold;
}

#burger {
    background: black;
    color: white;
    border: 5px dashed white;
}

#payment {
    background: white;
    border: 5px dashed black;
}

button:hover {
    background: red;
    cursor: pointer;
}

button {
    margin: 20px;
}

table {
    width: 100%;
}


#headline {
    margin: 10px;
    height: 40x;

    overflow: hidden;
}

#headline > h1 {
    position: absolute;
    margin-top: -160px;
    padding-left: 400px;
    
}

#headline > img {
    opacity: .7;
    width: 100%;
    height: auto;
}

section {
    margin: 10px 10px 10px 10px;
    padding-left: 20px;
}

select:hover {
    cursor: pointer;
}

.gender:hover {
    cursor: pointer;
}

ul {
    padding-left: 20px;
}

.burgers {
    display:grid;
    grid-gap:1px;
    grid-template-columns: 360px 300px 420px;
}

.burger {
    padding: 10px;
}

.a {
    grid-column:1;
}

.b {
    grid-column:2;
}

.c {
    grid-column:3;
}

footer {
    color: black;
}
